html{
    scroll-behavior: smooth;
}


:root{
    --accent: #FFD479;
    --font-robo: 'Roboto', sans-serif;
    --font-bebas: 'Bebas Neue', sans-serif;
}

body {
   background-color: #1F2A32; 
   color: #FAFAF5;
   font-family: var(--font-robo);
   font-weight: 300;
}

a {
    color: #FAFAF5;
    text-decoration: underline;
} 

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.contacts-container{
    max-width: 615px;
}

